
.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: green;
  border-radius: 3px;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: lightgreen;
  color: black;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
