
.button {
  font: inherit;
  border: 1px solid #fefbd8;
  background: #008cba;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  color: #fefbd8;
}

.button:hover:enabled,
.button:active:enabled {
  background: lightblue;
  color: black;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
  background: lightblue;
}
